# Project: TMDB 5000 Movie Dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction


What can we say about the success of a movie before it is released? Are there certain companies (Pixar?) that have found a consistent formula? Given that major films costing over $100 million to produce can still flop, this question is more important than ever to the industry. Film aficionados might have different interests. Can we predict which films will be highly rated, whether or not they are a commercial success?

This is a great place to start digging in to those questions, with data on the plot, cast, crew, budget, and revenues of several thousand films.

SOURCE: https://www.kaggle.com/tmdb/tmdb-movie-metadata

 We firstly import libraries to be used

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

<a id='wrangling'></a>
## Data Wrangling

### General Properties

In [2]:
#Imports dataset to analyse

df = pd.read_csv("tmdb-movies.csv")

In [3]:
#prints a few lines from the top

df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [4]:
#prints a few lines from the end

df.tail()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000,0.0
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000,0.0
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000,0.0
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000,0.0
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,127642.279154,0.0

There seems to be a few columns with multiple entries separated bi a `|`, these are `cast`, `genres` and `production_companies`

In [5]:
df.cast

0        Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1        Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2        Shailene Woodley|Theo James|Kate Winslet|Ansel...
3        Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4        Vin Diesel|Paul Walker|Jason Statham|Michelle ...
                               ...
10861    Michael Hynson|Robert August|Lord 'Tally Ho' B...
10862    James Garner|Eva Marie Saint|Yves Montand|Tosh...
10863    Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...
10864    Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...
10865    Harold P. Warren|Tom Neyman|John Reynolds|Dian...
Name: cast, Length: 10866, dtype: object

All column names seem to be descriptive enough and follow `snake_case` format

In [6]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

Missing values (aka `NaN`) are found on `imdb_id`,`cast`, `homepage`, `director`, `tagline`, `keywords`, `overview`, `genres` and `production_companies`,

In [7]:
df.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

There is just one duplicate present in the entire dataset

In [8]:
df.duplicated().sum()

1

corresponding to `index` 2090 and the `original_title` TEKKEN

In [9]:
df[df.duplicated()]

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2090,42194,tt0411951,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,"In the year of 2039, after World Wars destroy ...",92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010,30000000.0,967000.0

### Data Cleaning

In [10]:
#Creates a copy of the dataset to be cleaned
dff = df

As there is just one duplicated registry, we can immediatly drop it

In [11]:
dff = dff.drop(2090)

We will start by separating columns `cast`, `genres` and `production_companies`

In a wide-table format this could be done by using `split`:

```python
cast = dff.cast.str.split('|', expand = True)
cast = cast.rename(columns={0: 'cast_1', 
                            1: 'cast_2', 
                            2: 'cast_3',
                            3: 'cast_4',
                            4: 'cast_5',
                           })
cast
```

But for keeping tidyness this will be saved in a long format

In [12]:
dff.cast = dff.cast.str.split('|')
dff = dff.explode('cast')
dff

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Bryce Dallas Howard,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Irrfan Khan,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Vincent D'Onofrio,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Nick Robinson,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Tom Neyman,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,John Reynolds,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Diane Mahree,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Stephanie Nielson,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

And the same will be done for `genres`

In [36]:
dff[dff['cast']=='Chris Pratt']

,index,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Adventure,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
2,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Science Fiction,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
3,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Thriller,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
6697,630,118340,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt,James Gunn,"Light years from Earth, 26 years after being a...",121,Action,7/30/14,5612,7.9,2014,1.565855e+08,7.122911e+08
6698,630,118340,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt,James Gunn,"Light years from Earth, 26 years after being a...",121,Science Fiction,7/30/14,5612,7.9,2014,1.565855e+08,7.122911e+08
6699,630,118340,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt,James Gunn,"Light years from Earth, 26 years after being a...",121,Adventure,7/30/14,5612,7.9,2014,1.565855e+08,7.122911e+08
15486,1454,10521,tt0901476,1.074072,30000000,114663461,Bride Wars,Chris Pratt,Gary Winick,Two best friends become rivals when their resp...,89,Comedy,1/9/09,501,5.8,2009,3.049201e+07,1.165440e+08
18824,1709,21862,tt1078885,0.309360,0,0,Deep in the Valley,Chris Pratt,Christian Forte,"Best friends, Carl and Lester, find themselves...",87,Comedy,8/28/09,13,4.2,2009,0.000000e+00,0.000000e+00
40042,3448,63492,tt0770703,1.120851,20000000,30426096,What's Your Number?,Chris Pratt,Mark Mylod,Ally Darling (Anna Faris) is realizing she's a...,106,Comedy,9/30/11,390,6.2,2011,1.938796e+07,2.949500e+07
40043,3448,63492,tt0770703,1.120851,20000000,30426096,What's Your Number?,Chris Pratt,Mark Mylod,Ally Darling (Anna Faris) is realizing she's a...,106,Romance,9/30/11,390,6.2,2011,1.938796e+07,2.949500e+07
40092,3453,58547,tt1715873,1.109807,0,201146,10 Years,Chris Pratt,Jamie Linden,A group of friends reunite ten years after the...,100,Comedy,9/12/11,100,5.6,2011,0.000000e+00,1.949905e+05
40093,3453,58547,tt1715873,1.109807,0,201146,10 Years,Chris Pratt,Jamie Linden,A group of friends reunite ten years after the...,100,Drama,9/12/11,100,5.6,2011,0.000000e+00,1.949905e+05
40140,3457,60308,tt1210166,1.081676,50000000,110206216,Moneyball,Chris Pratt,Bennett Miller,The story of Oakland Athletics general manager...,133,Drama,9/22/11,899,6.9,2011,4.846990e+07,1.068337e+08
51987,4414,97630,tt1790885,1.554441,40000000,132820716,Zero Dark Thirty,Chris Pratt,Kathryn Bigelow,A chronicle of the decade-long hunt for al-Qae...,157,Thriller,12/19/12,1240,6.5,2012,3.798977e+07,1.261457e+08
51988,4414,97630,tt1790885,1.554441,40000000,132820716,Zero Dark Thirty,Chris Pratt,Kathryn Bigelow,A chronicle of the decade-long hunt for al-Qae...,157,Drama,12/19/12,1240,6.5,2012,3.798977e+07,1.261457e+08
51989,4414,97630,tt1790885,1.554441,40000000,132820716,Zero Dark Thirty,Chris Pratt,Kathryn Bigelow,A chronicle of the decade-long hunt for al-Qae...,157,History,12/19/12,1240,6.5,2012,3.798977e+07,1.261457e+08
52361,4446,72207,tt1195478,1.095479,30000000,53909751,The Five-Year Engagement,Chris Pratt,Nicholas Stoller,"Exactly one year after Tom meets Violet, he su...",124,Comedy,4/27/12,319,5.6,2012,2.849233e+07,5.120048e+07
64593,5498,146239,tt2387559,1.304540,26000000,51164106,Delivery Man,Chris Pratt,Ken Scott,An affable underachiever finds out he's father...,105,Comedy,10/10/13,377,6.1,2013,2.433687e+07,4.789131e+07

In [13]:
dff.genres = dff.genres.str.split('|')
dff = dff.explode('genres')
dff

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Adventure,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Science Fiction,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Bryce Dallas Howard,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Tom Neyman,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,John Reynolds,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Diane Mahree,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Stephanie Nielson,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

but not for `production_companies` as this will be dropped

Now that all cells have just one value, we can start dropping columns having a majority of `NaN` as they will not be used for the analysis. These are 

`homepage`, `tagline`, `keywords` and `production_companies`

In [14]:
dff = dff.drop(columns=['homepage', 'tagline', 'keywords', 'production_companies'])

To avoid issues with indexing the old index will be kept as a column

In [15]:
dff = dff.reset_index()

In [16]:
dff

,index,id,imdb_id,popularity,budget,revenue,original_title,cast,director,overview,runtime,genres,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Adventure,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
2,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Science Fiction,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
3,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Thriller,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
4,0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Bryce Dallas Howard,Colin Trevorrow,Twenty-two years after the events of Jurassic ...,124,Action,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131849,10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren,Harold P. Warren,A family gets lost on the road and stumbles up...,74,Horror,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
131850,10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Tom Neyman,Harold P. Warren,A family gets lost on the road and stumbles up...,74,Horror,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
131851,10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,John Reynolds,Harold P. Warren,A family gets lost on the road and stumbles up...,74,Horror,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
131852,10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Diane Mahree,Harold P. Warren,A family gets lost on the road and stumbles up...,74,Horror,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00
131853,10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Stephanie Nielson,Harold P. Warren,A family gets lost on the road and stumbles up...,74,Horror,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

Now we can drop all 43 duplicated registries just generated by exploding

In [17]:
dff = dff.drop_duplicates()

In [18]:
dff.duplicated().sum()

0

In [19]:
dff.isna().sum()

index               0
id                  0
imdb_id           105
popularity          0
budget              0
revenue             0
original_title      0
cast              125
director          347
overview           30
runtime             0
genres             94
release_date        0
vote_count          0
vote_average        0
release_year        0
budget_adj          0
revenue_adj         0
dtype: int64

<a id='eda'></a>
## Exploratory Data Analysis

We can start checking some simple statistics

In [20]:
dff.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
index,131811.0,5.586059e+03,3.133116e+03,0.000000,2877.000000,5618.000000,8.325000e+03,1.086500e+04
id,131811.0,5.764187e+04,8.592921e+04,5.000000,10142.000000,17803.000000,5.659000e+04,4.178590e+05
popularity,131811.0,7.165645e-01,1.124384e+00,0.000065,0.229734,0.419114,7.861590e-01,3.298576e+01
budget,131811.0,1.788833e+07,3.489871e+07,0.000000,0.000000,200000.000000,2.000000e+07,4.250000e+08
revenue,131811.0,4.849301e+07,1.334959e+08,0.000000,0.000000,0.000000,3.248268e+07,2.781506e+09
runtime,131811.0,1.034122e+02,2.900881e+01,0.000000,90.000000,100.000000,1.130000e+02,9.000000e+02
vote_count,131811.0,2.547582e+02,6.442871e+02,10.000000,18.000000,45.000000,1.790000e+02,9.767000e+03
vote_average,131811.0,5.942857e+00,9.052944e-01,1.500000,5.400000,6.000000,6.600000e+00,9.200000e+00
release_year,131811.0,2.000576e+03,1.280028e+01,1960.000000,1994.000000,2005.000000,2.010000e+03,2.015000e+03
budget_adj,131811.0,2.149625e+07,3.849986e+07,0.000000,0.000000,284923.284406,2.791408e+07,4.250000e+08
revenue_adj,131811.0,6.223847e+07,1.630772e+08,0.000000,0.000000,0.000000,4.619522e+07,2.827124e+09

We can check what numeric variables could be analysed. These are `popularity`, `budget`, `revenue`, `runtime`, `vote_count`,`vote_average`, `release_year`, `budget_adj`, `revenue_adj`

In [21]:
dff.dtypes

index               int64
id                  int64
imdb_id            object
popularity        float64
budget              int64
revenue             int64
original_title     object
cast               object
director           object
overview           object
runtime             int64
genres             object
release_date       object
vote_count          int64
vote_average      float64
release_year        int64
budget_adj        float64
revenue_adj       float64
dtype: object

We separate all numeric columns for later analysis

In [22]:
numeric = dff[['popularity', 'budget', 'revenue', 'runtime', 'vote_count', 'vote_average', 'release_year',
              'revenue_adj', 'revenue_adj']]

### Which genres are most popular from year to year?

All years possible

In [23]:
dff.release_year.unique()

array([2015, 2014, 1977, 2009, 2010, 1999, 2001, 2008, 2011, 2002, 1994,
       2012, 2003, 1997, 2013, 1985, 2005, 2006, 2004, 1972, 1980, 2007,
       1979, 1984, 1983, 1995, 1992, 1981, 1996, 2000, 1982, 1998, 1989,
       1991, 1988, 1987, 1968, 1974, 1975, 1962, 1964, 1971, 1990, 1961,
       1960, 1976, 1993, 1967, 1963, 1986, 1973, 1970, 1965, 1969, 1978,
       1966], dtype=int64)

Finds `index` of observations with highest scores

In [29]:
index_max = dff.groupby(['release_year'])['popularity'].idxmax()

index_max = pd.DataFrame(index_max).reset_index()

What allow us to filter the dataframe by joining

In [30]:
index_max.set_index('popularity')

            release_year
popularity
122430              1960
122055              1961
118640              1962
126280              1963
119050              1964
129532              1965
131262              1966
125794              1967
116993              1968
130002              1969
128994              1970
119603              1971
85237               1972
128297              1973
117442              1974
118072              1975
122820              1976
13753               1977
130392              1978
92251               1979
85702               1980
99588               1981
106031              1982
94369               1983
92946               1984
70265               1985
126731              1986
115343              1987
113539              1988
109915              1989
120248              1990
111745              1991
97792               1992
123430              1993
48683               1994
95399               1995
100573              1996
60972               1997
107058              1998
26897               1999
103186              2000
29705               2001
45110               2002
57354               2003
81334               2004
71645               2005
76231               2006
86737               2007
32925               2008
14473               2009
21087               2010
38966               2011
51205               2012
63561               2013
6682                2014
0                   2015

By joining both tables we can find what is the most popular genre per year

In [34]:
most_popular = index_max.merge(dff, 
                               how='left', 
                               left_on ="popularity", 
                               right_on = dff.index)[['release_year_x','genres']]

most_popular

    release_year_x           genres
0             1960            Drama
1             1961        Adventure
2             1962        Adventure
3             1963           Action
4             1964        Adventure
5             1965        Adventure
6             1966        Animation
7             1967           Family
8             1968  Science Fiction
9             1969        Adventure
10            1970        Animation
11            1971  Science Fiction
12            1972            Drama
13            1973        Animation
14            1974            Drama
15            1975            Drama
16            1976            Crime
17            1977        Adventure
18            1978            Music
19            1979           Horror
20            1980        Adventure
21            1981        Adventure
22            1982  Science Fiction
23            1983        Adventure
24            1984           Action
25            1985        Adventure
26            1986           Horror
27            1987  Science Fiction
28            1988           Action
29            1989        Animation
30            1990           Action
31            1991          Romance
32            1992            Crime
33            1993          Romance
34            1994         Thriller
35            1995            Crime
36            1996           Action
37            1997           Comedy
38            1998           Comedy
39            1999            Drama
40            2000           Action
41            2001        Adventure
42            2002        Adventure
43            2003        Adventure
44            2004        Adventure
45            2005        Adventure
46            2006          Fantasy
47            2007        Adventure
48            2008            Drama
49            2009           Action
50            2010           Action
51            2011           Action
52            2012  Science Fiction
53            2013        Animation
54            2014        Adventure
55            2015           Action

Also we can see what is the most popular genre by counting number of years

In [ ]:
most_popular.group_by('')

### What kinds of properties are associated with movies that have high revenues?

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!